<!-- create_exam_card.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Create Exam Card</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }
        .container {
            max-width: 960px;
            margin: 0 auto;
            padding: 20px;
        }
        
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #1569f0;">
        <div class="container">
            <a class="navbar-brand" href="#">Exam Administrator Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'generate_otp' %}">Generate OTP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_exam_card' %}">Create Exam Card</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_exam_cards' %}">View Exam Card</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'update_fee_records' %}">Update Fee Records</a>
                    </li>
                    
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>Create Exam Card</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Generate Exam Card</button>

                </form>
            </div>
        </div>
    </div>            
</body>
</html>
